# MongoDB Configuration
# For local development:
# MONGODB_URI=mongodb://localhost:27017/TaskManager
# For MongoDB Atlas (cloud):
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/TaskManager?retryWrites=true&w=majority
MONGODB_URI=mongodb://localhost:27017/TaskManager

# Server Configuration
PORT=4000
