PORT=4000
DB_HOST=localhost
DB_PORT=1433
DB_USER=TaskManagerApp
DB_PASSWORD=DtsDevChallenge0526!
DB_DATABASE=TaskManager
DB_DRIVER=tedious
DB_TRUSTED_CONNECTION=false

# DB_TRUST_SERVER_CERT is set to true for local SQL Server tests
DB_TRUST_SERVER_CERT=true
